.container-fluid {
    background: linear-gradient(52deg, #2a2c44, #1c1e30);
    height: 100vh;
}

div.menu{
    height: 8vh;
    background-color: #342f57;
    text-align: center;
}

a.active {
    text-decoration: none;
    color: #fff;
}